configuration {
    modes: [emoji];
    emoji-display-format: "{emoji}  {name}";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    show-icons: false;
}

@theme "themes/emoji.rasi"   